<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index</welcome-file>
    <welcome-file>index</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_servlet</display-name>
    <servlet-name>Logout_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_servlet</servlet-name>
    <url-pattern>/Logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lock_servlet</display-name>
    <servlet-name>Lock_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Lock_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lock_servlet</servlet-name>
    <url-pattern>/Lock_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lock_Log_Servlet</display-name>
    <servlet-name>Lock_Log_Servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Lock_Log_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lock_Log_Servlet</servlet-name>
    <url-pattern>/Lock_Log_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>cn.fp.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Testservlet</display-name>
    <servlet-name>Testservlet</servlet-name>
    <servlet-class>cn.fp.servlet.Testservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testservlet</servlet-name>
    <url-pattern>/Testservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinancingShow_servlet</display-name>
    <servlet-name>FinancingShow_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.FinancingShow_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancingShow_servlet</servlet-name>
    <url-pattern>/FinancingShow_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Financingservlet</display-name>
    <servlet-name>Financingservlet</servlet-name>
    <servlet-class>cn.fp.servlet.Financingservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financingservlet</servlet-name>
    <url-pattern>/Financingservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvestcompanyShow_servlet</display-name>
    <servlet-name>InvestcompanyShow_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.InvestcompanyShow_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestcompanyShow_servlet</servlet-name>
    <url-pattern>/InvestcompanyShow_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypecompanyShow_servlet</display-name>
    <servlet-name>TypecompanyShow_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.TypecompanyShow_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypecompanyShow_servlet</servlet-name>
    <url-pattern>/TypecompanyShow_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subtype_servlet</display-name>
    <servlet-name>Subtype_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Subtype_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subtype_servlet</servlet-name>
    <url-pattern>/Subtype_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapShow_servlet</display-name>
    <servlet-name>MapShow_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.MapShow_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapShow_servlet</servlet-name>
    <url-pattern>/MapShow_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dataindex_middle_servlet</display-name>
    <servlet-name>Dataindex_middle_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Dataindex_middle_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dataindex_middle_servlet</servlet-name>
    <url-pattern>/Dataindex_middle_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rectify_finacing_info</display-name>
    <servlet-name>Rectify_finacing_info</servlet-name>
    <servlet-class>cn.fp.servlet.Rectify_finacing_info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rectify_finacing_info</servlet-name>
    <url-pattern>/Rectify_finacing_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Financing_rectify</display-name>
    <servlet-name>Financing_rectify</servlet-name>
    <servlet-class>cn.fp.servlet.Financing_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financing_rectify</servlet-name>
    <url-pattern>/Financing_rectify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_company_servlet</display-name>
    <servlet-name>List_company_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.List_company_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_company_servlet</servlet-name>
    <url-pattern>/List_company_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub_type_insert_servlet</display-name>
    <servlet-name>Sub_type_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Sub_type_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub_type_insert_servlet</servlet-name>
    <url-pattern>/Sub_type_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub_type_list_servlet</display-name>
    <servlet-name>Sub_type_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Sub_type_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub_type_list_servlet</servlet-name>
    <url-pattern>/Sub_type_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub_type_rec_servlet</display-name>
    <servlet-name>Sub_type_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Sub_type_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub_type_rec_servlet</servlet-name>
    <url-pattern>/Sub_type_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub_type_del_servlet</display-name>
    <servlet-name>Sub_type_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Sub_type_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub_type_del_servlet</servlet-name>
    <url-pattern>/Sub_type_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Financing_insert_servlet</display-name>
    <servlet-name>Financing_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Financing_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financing_insert_servlet</servlet-name>
    <url-pattern>/Financing_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Financing_list_servlet</display-name>
    <servlet-name>Financing_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Financing_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financing_list_servlet</servlet-name>
    <url-pattern>/Financing_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Financing_del_servlet</display-name>
    <servlet-name>Financing_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Financing_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Financing_del_servlet</servlet-name>
    <url-pattern>/Financing_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_field_list_servlet</display-name>
    <servlet-name>Company_field_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_field_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_field_list_servlet</servlet-name>
    <url-pattern>/Company_field_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_field_insert_servlet</display-name>
    <servlet-name>Company_field_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_field_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_field_insert_servlet</servlet-name>
    <url-pattern>/Company_field_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_field_rec_servlet</display-name>
    <servlet-name>Company_field_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_field_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_field_rec_servlet</servlet-name>
    <url-pattern>/Company_field_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_field_del_servlet</display-name>
    <servlet-name>Company_field_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_field_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_field_del_servlet</servlet-name>
    <url-pattern>/Company_field_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invest_company_list_servlet</display-name>
    <servlet-name>Invest_company_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Invest_company_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invest_company_list_servlet</servlet-name>
    <url-pattern>/Invest_company_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invest_company_insert_servlet</display-name>
    <servlet-name>Invest_company_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Invest_company_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invest_company_insert_servlet</servlet-name>
    <url-pattern>/Invest_company_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invest_company_del_servlet</display-name>
    <servlet-name>Invest_company_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Invest_company_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invest_company_del_servlet</servlet-name>
    <url-pattern>/Invest_company_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invest_company_rec_servlet</display-name>
    <servlet-name>Invest_company_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Invest_company_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invest_company_rec_servlet</servlet-name>
    <url-pattern>/Invest_company_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map_list_servlet</display-name>
    <servlet-name>Map_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Map_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map_list_servlet</servlet-name>
    <url-pattern>/Map_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map_rec_servlet</display-name>
    <servlet-name>Map_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Map_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map_rec_servlet</servlet-name>
    <url-pattern>/Map_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Map_del_servlet</display-name>
    <servlet-name>Map_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Map_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map_del_servlet</servlet-name>
    <url-pattern>/Map_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_search_element_servlet</display-name>
    <servlet-name>Company_search_element_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_search_element_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_search_element_servlet</servlet-name>
    <url-pattern>/Company_search_element_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Campany_select_locate_servlet</display-name>
    <servlet-name>Campany_select_locate_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Campany_select_locate_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Campany_select_locate_servlet</servlet-name>
    <url-pattern>/Campany_select_locate_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Campany_select_financing_servlet</display-name>
    <servlet-name>Campany_select_financing_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Campany_select_financing_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Campany_select_financing_servlet</servlet-name>
    <url-pattern>/Campany_select_financing_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_company_search_servlet</display-name>
    <servlet-name>List_company_search_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.List_company_search_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_company_search_servlet</servlet-name>
    <url-pattern>/List_company_search_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Campany_select_field_servlet</display-name>
    <servlet-name>Campany_select_field_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Campany_select_field_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Campany_select_field_servlet</servlet-name>
    <url-pattern>/Campany_select_field_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_insert_servlet</display-name>
    <servlet-name>News_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.News_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_insert_servlet</servlet-name>
    <url-pattern>/News_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_list_servlet</display-name>
    <servlet-name>News_list_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.News_list_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_list_servlet</servlet-name>
    <url-pattern>/News_list_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_rec_servlet</display-name>
    <servlet-name>News_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.News_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_rec_servlet</servlet-name>
    <url-pattern>/News_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_dec_servlet</display-name>
    <servlet-name>News_dec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.News_dec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_dec_servlet</servlet-name>
    <url-pattern>/News_dec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>News_del_servlet</display-name>
    <servlet-name>News_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.News_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News_del_servlet</servlet-name>
    <url-pattern>/News_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_servlet</display-name>
    <servlet-name>Index_servlet</servlet-name>
    <servlet-class>cn.front.servlet.Index_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_servlet</servlet-name>
    <url-pattern>/Index_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>cn.front.servlet.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index_search</display-name>
    <servlet-name>index_search</servlet-name>
    <servlet-class>cn.front.servlet.index_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_search</servlet-name>
    <url-pattern>/index_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_company_rec_servlet</display-name>
    <servlet-name>List_company_rec_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.List_company_rec_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_company_rec_servlet</servlet-name>
    <url-pattern>/List_company_rec_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_company_del_servlet</display-name>
    <servlet-name>List_company_del_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.List_company_del_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_company_del_servlet</servlet-name>
    <url-pattern>/List_company_del_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>report_search</display-name>
    <servlet-name>report_search</servlet-name>
    <servlet-class>cn.front.servlet.report_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_search</servlet-name>
    <url-pattern>/report_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>report_list</display-name>
    <servlet-name>report_list</servlet-name>
    <servlet-class>cn.front.servlet.report_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report_list</servlet-name>
    <url-pattern>/report_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_company_insert_servlet</display-name>
    <servlet-name>List_company_insert_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.List_company_insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_company_insert_servlet</servlet-name>
    <url-pattern>/List_company_insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deathreason</display-name>
    <servlet-name>deathreason</servlet-name>
    <servlet-class>cn.front.servlet.deathreason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deathreason</servlet-name>
    <url-pattern>/deathreason</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>financing</display-name>
    <servlet-name>financing</servlet-name>
    <servlet-class>cn.front.servlet.financing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>financing</servlet-name>
    <url-pattern>/financing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>company_info_search</display-name>
    <servlet-name>company_info_search</servlet-name>
    <servlet-class>cn.front.servlet.company_info_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>company_info_search</servlet-name>
    <url-pattern>/company_info_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>field</display-name>
    <servlet-name>field</servlet-name>
    <servlet-class>cn.front.servlet.field</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>field</servlet-name>
    <url-pattern>/field</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReasonShow_servlet</display-name>
    <servlet-name>ReasonShow_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.ReasonShow_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReasonShow_servlet</servlet-name>
    <url-pattern>/ReasonShow_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_field_show_servlet</display-name>
    <servlet-name>Company_field_show_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Company_field_show_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_field_show_servlet</servlet-name>
    <url-pattern>/Company_field_show_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>financing_mix_show</display-name>
    <servlet-name>financing_mix_show</servlet-name>
    <servlet-class>cn.front.servlet.financing_mix_show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>financing_mix_show</servlet-name>
    <url-pattern>/financing_mix_show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_control_info_servlet</display-name>
    <servlet-name>Index_control_info_servlet</servlet-name>
    <servlet-class>cn.fp.servlet.Index_control_info_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_control_info_servlet</servlet-name>
    <url-pattern>/Index_control_info_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password_rectify</display-name>
    <servlet-name>password_rectify</servlet-name>
    <servlet-class>cn.front.servlet.password_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password_rectify</servlet-name>
    <url-pattern>/password_rectify</url-pattern>
  </servlet-mapping>
</web-app>